node_modules
dist
coverage
.next
.turbo
.DS_Store
*.log
.env
.env.local
.env.*.local
.local/
apps/api/.env
apps/web/.env.local
apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/android/.gradle
**/generated
*.iml
.idea
.vscode
